<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
        MediCare
        {% endblock %}
    </title>

    <link 
    rel="icon" 
    type="image/png" 
    href="{{ url_for('static', filename= 'img/favicon.png')}}">

    {% block extra_css %}
    {% endblock %}

</head>

<body>

<!-- =====================================================
     NAVBAR
===================================================== -->

<header class="auth-navbar">

    <a
        href="{{ url_for('inicio') }}"
        class="auth-logo"
    >

        <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            alt="Logo de MediCare"
        >

    </a>


    <nav class="auth-nav-links">

        <a href="{{ url_for('inicio') }}#inicio">
            Inicio
        </a>

        <a href="{{ url_for('inicio') }}#servicios">
            Servicios
        </a>

        <a href="{{ url_for('nosotros') }}">
            Nosotros
        </a>

        <a href="{{ url_for('inicio') }}#acceso">
            Acceso
        </a>

    </nav>

</header>


<!-- =====================================================
     CONTENIDO
===================================================== -->

<main>

    {% block content %}
    {% endblock %}

</main>


<!-- =====================================================
     FOOTER
===================================================== -->

<footer class="auth-footer">

    <p>
        © <span id="current-year">2026</span>
        MediCare — Sistema de Gestión Clínica
        <br>
        Derechos Reservados — Página elaborada por Nexus Corp
    </p>

</footer>


<script>

    const yearElement =
        document.getElementById("current-year");

    if (yearElement) {
        yearElement.textContent =
            new Date().getFullYear();
    }

</script>

{% block extra_js %}
{% endblock %}

</body>

</html>